body {
    background-color: #000000;
  }
  
 /* .background{
   
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media screen and (max-width: 100vw) {
    body {
      background-size: contain;
      background-position: center center;
    }
  }*/
    
  pre {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    
  }
  
  .episode{
    display: inline-block;
    position: sticky;
    top: 2vw;
    left: 33%;
    transform: translateX(top center);
    width: 700px;
    height: auto;
    padding: auto;
    border: 2px;
    background-color: rgba(43, 41, 41, 0.6);
    border: black;
    border-radius:30px;
    text-align: center;
    align-items: center;
  }

.style{
  cursor: pointer;
  color: #fff;
  outline: none;
  border: rgb(37, 36, 36,);
  font-weight: 700;
  font-size: 30px;
  position: relative;
  top: 05%;
  

  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(43, 41, 41, 0.6);
}
.stlye {
    position: relative;
    border-color:  #e6e6e6;
    width: 500px;
    text-align: left;
    top: 70%;
    right: 0;
    transform: translateY(-70%);
    transform: translateX(-5%);
    /* Other button styles here */
  }

.summary{
    text-align: center;
    align-items: center;
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}


